@import 'config';
@import'reset';
@import 'mixins';




// CARD TXT

h1,h2,h3 {
    width: 30px;
    @include pdg;
    @include title-font;
}


h1:hover,h2:hover,h3:hover {
    cursor: pointer;
    animation: titles ease-out 0.7s forwards;
}

@keyframes titles {
    30% {
        color: yellowgreen
    }
    100% {
        color: yellow;
    }
}


p { 
    @include pdg;
    padding-bottom: 1.875rem;
    opacity: 0.7;
}



footer .container {
    padding-top: 3.75rem;
}


// CARD 


.card {
    @include orange-card;
}

.card-2 {
    @include cyan-card;
}

.card-3 {
    @include dark-cyan-card;
}

.card-content {
    margin: .625rem;
    padding: .625rem;
}

// BUTTON

.btn-1:hover, .btn-2:hover, .btn-3:hover {
    animation: buttons ease-out 0.7s forwards ;
}

@keyframes buttons {
    20% {
        background: gray;
        color: white;
    }
    50% {
        background: darkslategray;
    }
    100% {
        background: black;
        color: white;
    }
}


// IPAD

@media screen and (min-width: 768px) {
    .container {
        margin: 0 auto;
        padding: 0 1.25rem;
        width: 500px;
      }
}
    


// IPAD PRO

@media screen and (min-width: 1024px) {
    .container {
      margin: 0 auto;
      padding: 0 1.25rem;
      width: 1024px;
    }
    body .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    footer .container {
      display: flex;
      place-items: center;
    }
  }

// LAPTOP

@media screen and (min-width: 900px) {
    .container {
      margin: 0 auto;
      padding: 0 1.25rem;
      width: 900px;
    }
    body .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    footer .container {
      display: flex;
      place-items: center;
    }
  }

// PC

@media screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
    padding: 0 1.25rem;
    width: 75rem;
  }
  body .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  footer .container {
    display: flex;
    place-items: center;
  }
}
